<div class="container">
   <div class="row">
     <div class="col-md-10 col-md-offset-1">
       <div class="page-header">
         <div class="col-md-3 col-sm-4">
           <div class="text-center">
             <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
           </div>
         </div>

         <div class="col-md-9 col-sm-8">
           <h2><%= @user.name %></h2>
           <p><strong><%= @user.email %></strong></p>
           <%= render partial: "shared/friend_button", locals: { user: @user } %>


           <div><%= simple_format @user.intro %></div>
           <% if @user == current_user %>
             <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-sm btn-info" %>
             <%#= link_to 'Friend List', friend_list_user_path(@user), class: "btn btn-info" %>
             <%= link_to 'Edit Password', edit_user_registration_path, class: "nav-text btn btn-sm btn-info" %>
           <% end %>

         </div>
         <div class="clearfix"></div>
       </div>
      <br>
      <%= render partial: "shared/navtab_user", locals: { user: @user } %>
        <div class="col-md-9 col-sm-8">
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title"><strong></strong> My Post</h3>
             </div>
             <div class="panel-body">
               <% @posts.each do |post| %>

               <%= link_to post_path(post) do %>
               <div class="my-post">

                 <h5><%= post.title %></h5>
               </div>
               <% end %>
              <% end %>
             </div>
           </div>
           <% if @user == current_user %>
             <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
           <% end %>
         </div>
       </div>
