<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, placeholder: "Title", class: "form-control bg-light" %>
        </div>
        <div class="form-group">
          <%= f.label :content, "Post" %>
          <%= f.text_area :content, class: "form-control bg-light" %>
        </div>
        <div class="form-group">
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            Who Can See


          </div>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            Category
          </div>


        </div>
        <div class="form-group">
          Status:
        </div>
        <div class="form-group">
          <%= f.submit "Save Draft" , class: "btn btn-info" %>
          <%= f.submit "Submit" , class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
