<div class="container">
   <div class="row">


     <ul class="nav nav-tabs">
        <li role="presentation">
         <%= link_to 'Category List', admin_categories_path %>
       </li>
        <li role="presentation" class="active">
         <%= link_to 'User List', admin_users_path %>
       </li>

     </ul>

   </div>
 </div>

 <br>
 <div class="container">
   <div class="row">

     <table class="table table-bordered">
         <thead>
           <tr>
             <th>ID</th>
             <th>User Name</th>
             <th>Email</th>
             <th>Introduction</th>
             <th>Role</th>
             <th>Change Role</th>
           </tr>
         </thead>
         <tbody>

           <% @users.each do |user| %>
           <tr>
             <th scope="row"><%= user.id %></th>
             <td><%= user.name %></td>
             <td><%= user.email %></td>
             <td><%= user.intro %></td>
             <td><%= user.role %></td>
             <td>
            <%= form_tag(admin_user_path(user.id), :method => 'post') do  %>
              <div class="input-group">
                <%= select_tag('role', options_for_select([['Admin', 'admin'], ['Normal User', 'normal']], user.role == 'admin' ? "admin" : "normal") )%>
                <%= submit_tag "Update" %>
              </div>
            <% end %>
          </td>
           </tr>

           <% end %>
         </tbody>
       </table>


      <%= paginate @users %>

    </div>
  </div>
